/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  border: 1px solid black;
  text-align: center;
  margin-top: 20px;
}

.card__name {
  border: 1px solid black;
}

.card__continent {
  border: 1px solid black;
}

.card__residentCount {
  border: 1px solid black;
}

.card__type {
  border: 1px solid black;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin-top: 20px;
}
